<div class="row">
    <div class="collection with-header">
        <li class="collection-header" style="list-style: none;"><h4><a href="/">Home</a></h4></li>
        <%categories.map(category=>{%>
        <a href="<%=category.url%>" class="collection-item"><%=category.name%></a>
        <%})%>
    </div>
</div>