*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.action-buttons{
  display: flex;
  align-items: center;
  gap: 1rem;
}

#overlay{
  position: fixed; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1;
  opacity: 0;
  display: block;
  transition: opacity ease-in-out 0.4s;
}

#modal1{
  opacity: 1;
  display: block;
  transition: bottom ease-in-out 0.5s;
}